*{
    box-sizing: border-box;
    
}

/* .App {    
    background-image: url("./taskBackground.jpg");
    background-repeat: no-repeat;    
    background-position: center;   
    background-size: cover;
    height: 100vh;
    width: 100vw;
} */
html {    
    background: url("./taskBackground.jpg");
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;        
}