/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
} */

li {
    font-weight: 500;
    font-size: 25px;    
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;       
    font-family: 'Amatic SC', cursive;    
    border: 2px solid rgba(180, 213, 238, .7);
    border-radius: 30px;
    background-clip: padding-box;        
}

nav:hover{
    background-color: #b4d5ee;
}

.nav_links {
    list-style: none;    
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover{
    color: #0088A9
}

.logout-bttn {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    padding: 9px 25px;        
    border: none;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;        
}

.logout-bttn:hover {
    background-color: red;
}